/* Add this to your style.css */

.full-page {
    background-color: #c6e2ff; /* Light blue background color */
    font-family: Times New Roman, Baskerville;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.white-box {
    background-color: #fff;
    width: 500px; /* Set the desired width for the square */
    height: 500px; /* Set the desired height for the square */
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    margin-top: 20px;
}

h1, h4 {
    color: #333;
}

.btn {
    background-color: #007BFF;
    color: #fff;
}

.form-control {
    border: 2px solid #007BFF;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #0056b3;
}
